<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NServiceBus" version="6.3.4" targetFramework="net462" />
  <package id="NServiceBus.Azure.Transports.WindowsAzureServiceBus" version="7.2.3" targetFramework="net462" />
  <package id="WindowsAzure.ServiceBus" version="4.1.2" targetFramework="net462" />
</packages>