<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.ServiceFabric" version="5.6.204" targetFramework="net452" />
  <package id="Microsoft.ServiceFabric.Data" version="2.6.204" targetFramework="net452" />
  <package id="Microsoft.ServiceFabric.Services" version="2.6.204" targetFramework="net452" />
  <package id="NServiceBus" version="6.3.1" targetFramework="net452" />
  <package id="NServiceBus.Azure.Transports.WindowsAzureServiceBus" version="7.2.2" targetFramework="net452" />
  <package id="WindowsAzure.ServiceBus" version="4.1.0" targetFramework="net452" />
</packages>